name: docs

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_sphinx_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Need to clone everything to determine version from git.
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install graphviz
        run: sudo apt-get install graphviz

      - name: Update pip/wheel infrastructure
        run: |
          python -m pip install --upgrade pip
          python -m pip install uv
          uv pip install --system wheel

      - name: Install documenteer
        run: uv pip install --system 'documenteer[pipelines]>=0.8' sphinx-automodapi==0.19 sphinx-prompt==1.6.0 "setuptools<81"

      - name: Install dependencies
        run: |
          uv pip install --system -r requirements.txt

      - name: Build and install
        run: uv pip install --system -v --no-deps .

      - name: Build documentation
        working-directory: ./doc
        run: package-docs build -n -W
